<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">{{ text.modal_map.title }}</h3>
      </div>
      <div class="modal-body">
        <div map-panel class="box-map" id="map-modal"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">{{ text.modal_map.btn_close }}</button>
      </div>
    </div>
  </div>
</div>
