<div ng-controller="ChangePasswordController as setting">
  <div class="container body">
    <div class="main_container">
      <!-- Header -->
      <div ng-include="'header/views/header.client.view.html'"></div>
      <!-- Sidebar -->
      <div ng-include="'sidebar/views/sidebar.client.view.html'"></div>
      <!-- Content -->
      <div auto-height class="right_col">
        <div class="page-title">
          <div class="title_left">
            <h3>
              {{ text.page_change_password.title }}
              <button class="btn btn-round btn-primary btn-back" ng-click="back()">
                <i class="fa fa-chevron-left"></i> {{ text.page_change_password.btn_back }}
              </button>
            </h3>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="x_panel">
              <div class="x_title">
                <h2><i class="fa fa-key"></i> {{ text.page_change_password.panel_title }}</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <form class="form-horizontal form-label-left input_mask-horizontal">
                  <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <input ng-model="currentPassword" type="password" class="form-control has-feedback-left" placeholder="{{ text.page_change_password.current_password }}">
                        <i class="fa fa-asterisk form-control-feedback left"></i>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <input ng-model="newPassword" type="password" class="form-control has-feedback-left" placeholder="{{ text.page_change_password.new_password }}">
                        <i class="fa fa-key form-control-feedback left"></i>
                      </div>
                      <p ng-if="!checkNewPassword" class="text-error">{{ text.page_change_password.text_new_password_error }}</p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <input ng-model="confirmNewPassword" type="password" class="form-control has-feedback-left" placeholder="{{ text.page_change_password.confirm_new_password }}">
                        <i class="fa fa-key form-control-feedback left"></i>
                      </div>
                      <p ng-if="!checkConfirmNewPassword" class="text-error">{{ text.page_change_password.text_confirm_new_password_error }}</p>
                    </div>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-success btn-panel-submit" ng-click="submit()">{{ text.page_change_password.btn_edit }}</button>
                    <button class="btn btn-default btn-panel-cancel" ng-click="back()">{{ text.page_change_password.btn_cancel }}</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div ng-include="'footer/views/footer.client.view.html'"></div>
    </div>
  </div>
  <!-- Alert Message -->
  <alert-message class="box-alert-message"></alert-message>
  <!-- Modal Message -->
  <modal-message visible="showModalMessage"></modal-message>
  <!-- Modal Logout -->
  <modal-logout visible="showModalLogout"></modal-logout>
</div>
