<div class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">{{ text.modal_change_password_group.title }}</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              <label>{{ text.modal_change_password_group.new_password }}</label>
              <input class="form-control" type="password" ng-model="inputNewPassword" placeholder="{{ text.modal_change_password_group.new_password }}">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              <label>{{ text.modal_change_password_group.confirm_password }}</label>
              <input class="form-control" type="password" ng-model="inputConfirmPassword" placeholder="{{ text.modal_change_password_group.confirm_password }}">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">{{ text.modal_change_password_group.btn_close }}</button>
        <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal" ng-click="confirm()">{{ text.modal_change_password_group.btn_confirm }}</button>
      </div>
    </div>
  </div>
</div>
