<div ng-controller="GraphEfficientController as graph" ng-show="authentication.role == 'admin' || authentication.role == 'tnt'">
  <div class="container body">
    <div class="main_container">
      <!-- Header -->
      <div ng-include="'header/views/header.client.view.html'"></div>
      <!-- Sidebar -->
      <div ng-include="'sidebar/views/sidebar.client.view.html'"></div>
      <!-- Content -->
      <div auto-height class="right_col">
        <div class="page-title">
          <div class="title_left header-search-data">
            <h3>{{ text.page_graph_efficient.title }}</h3>
            <div class="box-select">
              <select
                class="form-control"
                ng-model="selectVehicle"
                title="{{ text.page_graph_efficient.select_vehicle }}"
                data="{{ dataSelectVehicle }}"
                select2
                style="width: 100%;">
              </select>
            </div>
            <div class="box-date-picker">
              <div class="form-group">
                <div class="input-group">
                  <input date-range-picker-year-month-date-time-start-end
                    class="form-control pull-right" 
                    ng-model="selectDate"
                    ng-change="setTextDate(selectDate)"
                    type="text">
                  <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-btn-search">
              <button type="button" class="btn btn-round btn-block btn-success" ng-click="searchDataGraph()">
                <i class="fa fa-search"></i> {{ text.page_graph_efficient.btn_search }}
              </button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="x_panel fixed_height_390">
              <div class="x_content">
                <div graph-efficient
                  class="display-graph"
                  id="graph-efficient"
                  data="{{ dataGraphEfficient }}"
                  vehicle-name="{{ vehicle_name }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div ng-include="'footer/views/footer.client.view.html'"></div>
    </div>
  </div>
  <!-- Alert Message -->
  <alert-message class="box-alert-message"></alert-message>
  <!-- Modal Message -->
  <modal-message visible="showModalMessage"></modal-message>
  <!-- Modal Logout -->
  <modal-logout visible="showModalLogout"></modal-logout>
</div>
