<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <base href="/"/>
	<title><%= title %></title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.ico"/>
  <!-- All style css -->
  <!-- Google Font -->
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Kanit:300&subset=thai'/>
  <% include style.html %>
</head>
<body ng-class="!authentication.token? '' : 'nav-md'">

  <section ng-view loading-listener current-login logout></section>
  <!-- All script js -->
  <% include script.html %>
</body>
</html>
