<!-- jQuery -->
<script type="text/javascript" src="/static/plugins/jquery/dist/jquery.min.js"></script>
<!-- Angular -->
<script type="text/javascript" src="/static/plugins/angular/angular.min.js"></script>
<script type="text/javascript" src="/static/plugins/angular-route/angular-route.min.js"></script>
<!-- Socket IO -->
<script type="text/javascript" src="/static/plugins/sockjs-client/dist/sockjs.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="/static/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script type="text/javascript" src="/static/plugins/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script type="text/javascript" src="/static/plugins/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script type="text/javascript" src="/static/plugins/iCheck/icheck.min.js"></script>
<!-- Select2 -->
<script type="text/javascript" src="/static/plugins/select2/dist/js/select2.full.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script type="text/javascript" src="/static/plugins/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/static/plugins/daterangepicker/daterangepicker.js"></script>
<!-- masonry-layout -->
<script type="text/javascript" src="/static/plugins/masonry-layout/dist/masonry.pkgd.min.js"></script>
<!-- jquery.slimscroll -->
<script type="text/javascript" src="/static/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- DataTables -->
<script type="text/javascript" src="/static/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script type="text/javascript" src="/static/plugins/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="/static/plugins/jszip/dist/jszip.min.js"></script>
<script type="text/javascript" src="/static/plugins/pdfmake/build/pdfmake.min.js"></script>
<script type="text/javascript" src="/static/plugins/pdfmake/build/vfs_fonts.js"></script>
<!-- Highcharts -->
<script type="text/javascript" src="/static/plugins/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/static/plugins/highcharts/highcharts-3d.js"></script>
<script type="text/javascript" src="/static/plugins/highcharts/highcharts-more.js"></script>
<script type="text/javascript" src="/static/plugins/highcharts/modules/exporting.js"></script>
<script type="text/javascript" src="/static/plugins/highcharts-multicolor-series/js/multicolor_series.js"></script>
<!-- Howler -->
<script type="text/javascript" src="/static/plugins/howler.js/dist/howler.min.js"></script>
<!-- Leaflet -->
<script type="text/javascript" src="/static/plugins/leaflet/dist/leaflet.js"></script>
<script type="text/javascript" src="/static/plugins/Leaflet.label/dist/leaflet.label.js"></script>
<script type="text/javascript" src="/static/plugins/leaflet-draw/dist/leaflet.draw.js"></script>
<script type="text/javascript" src="/static/plugins/leaflet-fullscreen/dist/Leaflet.fullscreen.min.js"></script>
<script type="text/javascript" src="/static/plugins/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<script type="text/javascript" src="/static/assets/js/AnimatedMarker.js"></script>
<script type="text/javascript" src="/static/assets/js/MovingMarker.js"></script>
<!-- screenfull.js Lib -->
<script type="text/javascript" src="/static/plugins/screenfull/dist/screenfull.min.js"></script>
<!-- Dropzone -->
<script type="text/javascript" src="/static/plugins/dropzone/dist/min/dropzone.min.js"></script>
<!-- Lazyload -->
<script type="text/javascript" src="/static/plugins/jquery-lazy/jquery.lazy.min.js"></script>
<script type="text/javascript" src="/static/plugins/jquery-lazy/jquery.lazy.plugins.min.js"></script>

<!-- Language Module -->
<script type="text/javascript" src="/lang/language.client.module.js"></script>
<!-- Language Service -->
<script type="text/javascript" src="/lang/en/language.client.service.js"></script>
<script type="text/javascript" src="/lang/th/language.client.service.js"></script>

<!-- Index Module -->
<script type="text/javascript" src="/index/index.client.module.js"></script>
<!-- Index Route -->
<script type="text/javascript" src="/index/routes/index.client.route.js"></script>
<!-- Index Service -->
<script type="text/javascript" src="/index/services/index.client.service.js"></script>
<!-- Index Controller -->
<script type="text/javascript" src="/index/controllers/index.client.controller.js"></script>
<!-- Index Factories -->
<script type="text/javascript" src="/index/factories/loading.client.factory.js"></script>
<script type="text/javascript" src="/index/factories/current_login.client.factory.js"></script>
<script type="text/javascript" src="/index/factories/index.client.factory.js"></script>

<!-- Login Module -->
<script type="text/javascript" src="/login/login.client.module.js"></script>
<!-- Login Route -->
<script type="text/javascript" src="/login/routes/login.client.route.js"></script>
<!-- Login Controller -->
<script type="text/javascript" src="/login/controllers/login.client.controller.js"></script>
<!-- Login Factories -->
<script type="text/javascript" src="/login/factories/login.client.factory.js"></script>

<!-- Header Module -->
<script type="text/javascript" src="/header/header.client.module.js"></script>
<!-- Header Controller -->
<script type="text/javascript" src="/header/controllers/header.client.controller.js"></script>
<!-- Header Factories -->
<script type="text/javascript" src="/header/factories/header.client.factory.js"></script>
<script type="text/javascript" src="/header/factories/logout.client.factory.js"></script>

<!-- Sidebar Module -->
<script type="text/javascript" src="/sidebar/sidebar.client.module.js"></script>
<!-- Sidebar Controller -->
<script type="text/javascript" src="/sidebar/controllers/sidebar.client.controller.js"></script>

<!-- Dashboard Module -->
<script type="text/javascript" src="/dashboard/dashboard.client.module.js"></script>
<!-- Dashboard Route -->
<script type="text/javascript" src="/dashboard/routes/dashboard.client.route.js"></script>
<!-- Dashboard Factories -->
<script type="text/javascript" src="/dashboard/factories/dashboard.client.factory.js"></script>
<!-- Dashboard Controller -->
<script type="text/javascript" src="/dashboard/controllers/dashboard_all.client.controller.js"></script>
<script type="text/javascript" src="/dashboard/controllers/dashboard.client.controller.js"></script>

<!-- Tracking Module -->
<script type="text/javascript" src="/tracking/tracking.client.module.js"></script>
<!-- Tracking Route -->
<script type="text/javascript" src="/tracking/routes/tracking.client.route.js"></script>
<!-- Tracking Controller -->
<script type="text/javascript" src="/tracking/controllers/tracking_realtime.client.controller.js"></script>
<script type="text/javascript" src="/tracking/controllers/tracking_history.client.controller.js"></script>
<!-- Tracking Factories -->
<script type="text/javascript" src="/tracking/factories/tracking_realtime.client.factory.js"></script>
<script type="text/javascript" src="/tracking/factories/tracking_history.client.factory.js"></script>

<!-- Camera Module -->
<!-- <script type="text/javascript" src="/camera/camera.client.module.js"></script> -->
<!-- Camera Route -->
<!-- <script type="text/javascript" src="/camera/routes/camera.client.route.js"></script> -->
<!-- Camera Controller -->
<!-- <script type="text/javascript" src="/camera/controllers/camera_realtime.client.controller.js"></script>
<script type="text/javascript" src="/camera/controllers/camera_snapshot.client.controller.js"></script> -->
<!-- Camera Factories -->
<!-- <script type="text/javascript" src="/camera/factories/camera_realtime.client.factory.js"></script>
<script type="text/javascript" src="/camera/factories/camera_snapshot.client.factory.js"></script> -->

<!-- Report Module -->
<script type="text/javascript" src="/report/report.client.module.js"></script>
<!-- Report Route -->
<script type="text/javascript" src="/report/routes/report.client.route.js"></script>
<!-- Report Controller -->
<script type="text/javascript" src="/report/controllers/report_usage_vehicle.client.controller.js"></script>
<!-- <script type="text/javascript" src="/report/controllers/report_idling.client.controller.js"></script>
<script type="text/javascript" src="/report/controllers/report_parking.client.controller.js"></script>
<script type="text/javascript" src="/report/controllers/report_over_speed.client.controller.js"></script>
<script type="text/javascript" src="/report/controllers/report_inout_station.client.controller.js"></script>
<script type="text/javascript" src="/report/controllers/report_sliding_card.client.controller.js"></script> -->
<script type="text/javascript" src="/report/controllers/report_scan_card.client.controller.js"></script>
<script type="text/javascript" src="/report/controllers/report_usage_vehicle_and_driver.client.controller.js"></script>
<script type="text/javascript" src="/report/controllers/report_summary.client.controller.js"></script>
<!-- Report Factories -->
<script type="text/javascript" src="/report/factories/report_usage_vehicle.client.factory.js"></script>
<!-- <script type="text/javascript" src="/report/factories/report_idling.client.factory.js"></script>
<script type="text/javascript" src="/report/factories/report_parking.client.factory.js"></script>
<script type="text/javascript" src="/report/factories/report_over_speed.client.factory.js"></script>
<script type="text/javascript" src="/report/factories/report_inout_station.client.factory.js"></script>
<script type="text/javascript" src="/report/factories/report_sliding_card.client.factory.js"></script> -->
<script type="text/javascript" src="/report/factories/report_scan_card.client.factory.js"></script>
<script type="text/javascript" src="/report/factories/report_usage_vehicle_and_driver.client.factory.js"></script>
<script type="text/javascript" src="/report/factories/report_summary.client.factory.js"></script>

<!-- Graph Module -->
<script type="text/javascript" src="/graph/graph.client.module.js"></script>
<!-- Graph Route -->
<script type="text/javascript" src="/graph/routes/graph.client.route.js"></script>
<!-- Graph Controller -->
<script type="text/javascript" src="/graph/controllers/graph_usage_vehicle.client.controller.js"></script>
<script type="text/javascript" src="/graph/controllers/graph_efficient.client.controller.js"></script>
<script type="text/javascript" src="/graph/controllers/graph_over_speed.client.controller.js"></script>
<script type="text/javascript" src="/graph/controllers/graph_fuel.client.controller.js"></script>
<script type="text/javascript" src="/graph/controllers/graph_battery.client.controller.js"></script>
<script type="text/javascript" src="/graph/controllers/graph_work_time.client.controller.js"></script>
<script type="text/javascript" src="/graph/controllers/graph_vibration.client.controller.js"></script>
<!-- Graph Factories -->
<script type="text/javascript" src="/graph/factories/graph_usage_vehicle.client.factory.js"></script>
<script type="text/javascript" src="/graph/factories/graph_efficient.client.factory.js"></script>
<script type="text/javascript" src="/graph/factories/graph_over_speed.client.factory.js"></script>
<script type="text/javascript" src="/graph/factories/graph_fuel.client.factory.js"></script>
<script type="text/javascript" src="/graph/factories/graph_battery.client.factory.js"></script>
<script type="text/javascript" src="/graph/factories/graph_work_time.client.factory.js"></script>
<script type="text/javascript" src="/graph/factories/graph_vibration.client.factory.js"></script>

<!-- Maintenance Module -->
<script type="text/javascript" src="/maintenance/maintenance.client.module.js"></script>
<!-- Maintenance Route -->
<script type="text/javascript" src="/maintenance/routes/maintenance.client.route.js"></script>
<!-- Maintenance Controller -->
<!-- <script type="text/javascript" src="/maintenance/controllers/maintenance_lubricant.client.controller.js"></script>
<script type="text/javascript" src="/maintenance/controllers/maintenance_tire.client.controller.js"></script> -->
<script type="text/javascript" src="/maintenance/controllers/maintenance_work_time_batt.client.controller.js"></script>
<script type="text/javascript" src="/maintenance/controllers/maintenance_work_time_lpg.client.controller.js"></script>
<!-- Maintenance Factories -->
<!-- <script type="text/javascript" src="/maintenance/factories/maintenance_lubricant.client.factory.js"></script>
<script type="text/javascript" src="/maintenance/factories/maintenance_tire.client.factory.js"></script> -->
<script type="text/javascript" src="/maintenance/factories/maintenance_work_time_batt.client.factory.js"></script>
<script type="text/javascript" src="/maintenance/factories/maintenance_work_time_lpg.client.factory.js"></script>

<!-- Setting Module -->
<script type="text/javascript" src="/setting/setting.client.module.js"></script>
<!-- Setting Route -->
<script type="text/javascript" src="/setting/routes/setting.client.route.js"></script>
<!-- Setting Controller -->
<!-- <script type="text/javascript" src="/setting/controllers/setting_company.client.controller.js"></script> -->
<script type="text/javascript" src="/setting/controllers/setting_driver.client.controller.js"></script>
<script type="text/javascript" src="/setting/controllers/setting_vehicle.client.controller.js"></script>
<script type="text/javascript" src="/setting/controllers/setting_group.client.controller.js"></script>
<script type="text/javascript" src="/setting/controllers/setting_staff.client.controller.js"></script>
<script type="text/javascript" src="/setting/controllers/change_password.client.controller.js"></script>
<!-- Setting Factories -->
<!-- <script type="text/javascript" src="/setting/factories/setting_company.client.factory.js"></script> -->
<script type="text/javascript" src="/setting/factories/setting_driver.client.factory.js"></script>
<script type="text/javascript" src="/setting/factories/setting_vehicle.client.factory.js"></script>
<script type="text/javascript" src="/setting/factories/setting_group.client.factory.js"></script>
<script type="text/javascript" src="/setting/factories/setting_staff.client.factory.js"></script>
<script type="text/javascript" src="/setting/factories/change_password.client.factory.js"></script>

<!-- App Module -->
<script type="text/javascript" src="/application.js"></script>
<script type="text/javascript">

  window.addEventListener('load', function() {
    new FastClick(document.body);
  }, false)

</script>
