$padding-size: 15px;
$margin-size: 15px;

$width-box-login-desktop: 360px;
$width-box-login-mobile: 100%;

$primary-color: #ff0000;
$primary-color-light: #f5e3e3;
$primary-color-dark: #f20202;
$primary-color-hover: #e70000;

$green-color: #58b957;
$green-color-hover: #50af4f;

$blue-color: #3e8acc;
$blue-color-hover: #337bb9;

$orange-color: #f2ae43;
$orange-color-hover: #e7a43c;

$red-color: #db524b;
$red-color-hover: #cd4740;

$gray-color: #525252;
$gray-color-hover: #383838;

$text-color-light: #fff;
$text-color-light-hover: #eee;
$text-color-gray: #c4c4c4;
$text-color-dark: #252525;
$text-color-default: #565a5c;

$bg-body-color: #eee;

$bg-color-body-login: #eee;
$bg-color-box-login: #fff;